<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welkom <%= Username %>!</h1>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>